In [ ]:
1)Write a Python program to get the Python version you are using

In [ ]:
2)Write a Python program to display the current date and time

In [ ]:
3) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
4)Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [ ]:
5)Write code to test whether the given number lies between 1 and 10

In [ ]:
6)sum the numbers from 1 to 20 using for loop

In [ ]:
7)Display the numbers in reverse from 100 to 1

In [ ]:
8)Display multiples of 2 from 10 to 50 using range

In [ ]:
9)From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [ ]:
10)Use functions to return square of numbers from 2 to 5

In [ ]:
11)Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
tuple with those numbers

In [ ]:
12) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
13)Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [ ]:
14)Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference

In [ ]:
15)To check whather given element exists in list or not??
list=[1,2,3,4,5,6,7,8,9,10]
check if 9 and 12 are present in given list or not

In [ ]:
16)Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call

In [ ]:
17)Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,
and if the salary is missing in function call it should show it as 9000

In [ ]:
18) Write a recursive function to calculate the sum of numbers from 0 to 10

In [ ]:
19)Generate a Python list of all the even numbers between 4 to 30

In [ ]:
20)Return the largest item from the given list